SIETCLIENT/web/WEB-INF/wsdl/client/SietWS/localhost_8084/SIETICE/SietWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.siet/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.siet/" name="SietWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.siet/" schemaLocation="http://localhost:8084/SIETICE/SietWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="rechazar">
<part name="parameters" element="tns:rechazar"></part>
</message>
<message name="rechazarResponse">
<part name="parameters" element="tns:rechazarResponse"></part>
</message>
<message name="obtenerProyectos">
<part name="parameters" element="tns:obtenerProyectos"></part>
</message>
<message name="obtenerProyectosResponse">
<part name="parameters" element="tns:obtenerProyectosResponse"></part>
</message>
<message name="aprobar">
<part name="parameters" element="tns:aprobar"></part>
</message>
<message name="aprobarResponse">
<part name="parameters" element="tns:aprobarResponse"></part>
</message>
<message name="logear">
<part name="parameters" element="tns:logear"></part>
</message>
<message name="logearResponse">
<part name="parameters" element="tns:logearResponse"></part>
</message>
<portType name="SietWS">
<operation name="rechazar">
<input message="tns:rechazar"></input>
<output message="tns:rechazarResponse"></output>
</operation>
<operation name="obtenerProyectos">
<input message="tns:obtenerProyectos"></input>
<output message="tns:obtenerProyectosResponse"></output>
</operation>
<operation name="aprobar">
<input message="tns:aprobar"></input>
<output message="tns:aprobarResponse"></output>
</operation>
<operation name="logear">
<input message="tns:logear"></input>
<output message="tns:logearResponse"></output>
</operation>
</portType>
<binding name="SietWSPortBinding" type="tns:SietWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="rechazar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerProyectos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aprobar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="logear">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SietWSService">
<port name="SietWSPort" binding="tns:SietWSPortBinding">
<soap:address location="http://localhost:8084/SIETICE/SietWS"></soap:address>
</port>
</service>
</definitions>